<<<<<<< HEAD
main {
  display: initial !important;
  overflow: auto;
}

nav {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.menu_request_button {
  display: flex;
  justify-content: center;
}

.menu_request {
  width: 50%;
  float: left;
}

.menu_request input.table {
  margin-left: 30px;
}

.resumo {
  position: relative;
  width: 45%;
  float: right;
  color: yellow;
}

.ul_products {
  margin: 5% 0 0 5%;
  color: white;
}

.ul_products li {
  cursor: pointer;
  padding: 10px;
  border: 3px solid rgb(69, 104, 92);
  text-align: center;
  margin: 10px;
  border-radius: 15px;
  width: 44%;
  float: left;
}

.ul_products li:hover {
  background-color: rgb(69, 104, 92);
}

.ul_products li span {
  display: block;
  width: 100%;
}

.ul_request {
  grid-area: c3;
  background-color: white;
  color: black;
  width: 365px;
  min-height: 667px;
}

.total {
  color: white;
  grid-area: e1;
}

.menu_request {
  color: yellow;
}

.finish {
  grid-row: f1;
}

.clear {
  grid-row: g1;
}
=======
>>>>>>> f587c7eea3764900ca69abd1ce07edfc0317e8e5
