h1 {
  display: flex;
color: #1FFE5D;
font-size: 1em;
}

.k {
  background-color: #e8e8e8ef;
  border-radius: 15px;
  width: 364px;
  height: 341px;
  font-size: 22px;
}

.i {
  background-color: white;
  width: 310px;
  height: 172px;
  font-size: 22px;
  color: black;

}

.b {
  background-color: #C4C4C4;
  border-radius: 10px;
  height: 52px;
  width: 157px;
  font-size: 22px;
  color: black;
}