.welcome {
  font-size: 42px;
  line-height: 49px;
  height: 61px;
  left: 252px;
  top: 633px;
}

.message {
  font-size: 36px;
  line-height: 42px;
  width: 691px;
  height: 98px;
  left: 108px;
  top: 705px;
}

.logotipo {
  position: absolute !important;
  width: 303px;
  height: 400px;
  left: 302px;
  top: 173px;
}

#button {
  position: absolute;
  width: 357px;
  height: 130px;
}

.login {
  left: 62px;
  top: 864px;
}

.registro {
  left: 493px;
  top: 863px;
}
