* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
  min-height: 100vh;
  font-size: 32px;
}

#root {
  width: 100vw;
  min-height: 100vh;
}

#container {
  background-image: url(./imagens/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  width: 912px;
  height: 1368px;
  margin: 0 auto;
}

.buttons {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 20px;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #000000;
  padding: 0.4em;
  cursor: pointer;
  min-width: 200px;
  margin: 0.4em;
  transition: all 0.2s;
}

.bg-primary {
  background: #ff7901;
}

.bg-primary:hover {
  background: #ec8c78;
}

.bg-action {
  background: #1ffe5d;
}

.bg-action:hover {
  background: #77edc9;
}

.input {
  background: rgba(232, 232, 232, 0.98);
  border-radius: 20px;
  font-size: 22px;
  min-width: 440px;
  padding: 0.4em;
  margin: 0.4em;
}

.label {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  color: #faf6f6;
  padding: 0.4em 0em 0em 0.4em;
}
